@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: Styled mode you must add the PrimeReact Theme here. Do not include in unstyled mode */
@import "primereact/resources/themes/lara-light-teal/theme.css" layer(primereact);
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
/* @import url("./fonts/Forum/Forum-Regular.ttf");
/* @import url("./fonts/Barlow/Barlow-Black.ttf"); */

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/*@font-face {
    font-family: "Barlow";
     src: url("fonts/Barlow/Barlow-Regular.ttf") format("typetrue"); 
}

@font-face {
    font-family: "Victor Mono";
    src: url("fonts/Victor_Mono/VictorMono-Italic-VariableFont_wght.ttf") format("typetrue");
}
    */

:root {
    font-family: "Barlow", "Victor Mono", Helvetica;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    /* background-color: var(--surface-ground);*/
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
